@model IEnumerable<MarkMachine.Data.Market>

@{
    ViewBag.Title = "Markets";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row">
    <div class="col-md-3">@Html.DisplayNameFor(model => model.Symbol)</div>
    <div class="col-md-6">.@Html.DisplayNameFor(model => model.Name)</div>
    <div class="col-md-3">@Html.DisplayNameFor(model => model.CategoryId)</div>
</div>

@foreach (var item in Model) {
    
<div class="row">
    <div class="col-md-3">@Html.ActionLink(item.Symbol, "Details", new { controller = "Markets", id = item.MarketId })</div>
    <div class="col-md-6">@Html.DisplayFor(modelItem => item.Name)</div>
    <div class="col-md-3">@Html.DisplayFor(modelItem => item.CategoryId)</div>
</div>
}
    
